<section>
    <div class="container-fluid">
        <div class="row">
            <div class='col-4'></div>
            <div class='col-4'>
                <form action="/login" method="POST" class="form-group">

                    <input type="text" placeholder="Email" name='Email' class="form-control"><br>
                    <input type="text" placeholder="Password" name='Password'  class="form-control"><br>
                    <button type="submit" class="form-control btn btn-info">Login</button>
                </form>
            </div>
            <div class='col-4'></div>
        </div>
    </div>
</section>