<section>
    <style>
        body{
            background-image: url(/images/login_Register.png);
            background-repeat: no-repeat;
        }
    </style>
    <div class="container-fluid" style="padding-right: 5rem;margin-top: 100px;">
        <form action="/login" method="POST" class="form-group">
        <div class="row mt-5">
            <div class="col-md-4 col-sm-4 col-xs-12"></div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <form id="log" runat="server">
                    <h3 class="text-center">LOGIN</h3>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <label style="text-align: center;justify-content: center; display: flex;">Email</label>
                            <div class="form-group">
                                <input type="email" placeholder="Email" name='Email' class="form-control" required><br>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label style="text-align: center;justify-content: center; display: flex;">Password</label>
                            <div class="form-group">
                                <input type="password" placeholder="Password" name='Password'  class="form-control" required><br>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">                            
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-info">Login</button>
                                <br />
                                <asp:Label ID="Label1" runat="server" ForeColor="Red"></asp:Label>
                                <br />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </form>
    </div>
</section>

<!-- <form action="/login" method="POST" class="form-group">

    <input type="email" placeholder="Email" name='Email' class="form-control" required><br>
    <input type="password" placeholder="Password" name='Password'  class="form-control" required><br>
    <button type="submit" class="form-control btn btn-info">Login</button>
</form> -->