


<div class="jumbotron" style="background-image: url(/images/image.png);" >
    <h1 class="display-4" style="text-align: center; color:cyan; ">What We Do?</h1>
    <p class="lead"style="text-align: center; color:cyan;">This will give you a breif idea that how our API works. ahd all the services provided by us</p>
  </div>
  <h1 class="mt-3" style="text-align: center;">About Us</h1>
  <hr class="w-25"/>
  <div class="container">
    <div class="row">
        <div class="col-4">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">We create Api</h5>
              <p class="card-text">Just Create An API key use in your link and start using it.</p>
              <a href="/api" class="btn btn-primary">Get Started</a>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card" style="width: 18rem;">
            
            <div class="card-body">
              <h5 class="card-title">User Friendly</h5>
              <p class="card-text">API is cretated in such a way that anyone can use it easily</p>
              <a href="/api" class="btn btn-primary">Get Started</a>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card" style="width: 18rem;">
           
            <div class="card-body">
              <h5 class="card-title">Completely Free</h5>
              <p class="card-text">No need to Pay. This API is completly free and available 24*7</p>
              <a href="/api" class="btn btn-primary">Get Started</a>
            </div>
          </div>
        </div>
      </div>
      <h3 class="mt-3" style="text-align: center;"> Our Main Mooto is to make an API Host it on web and make is available for everyone so anyone on the web can get acess by just one click</h3>
     
  </div>
