<section id="delMenuItem">
    <style>
        body{
            background-image: url(/images/Delete.jpg);
            background-repeat: no-repeat;
        }
    </style>
    <div class='container-fluid'>
        <div class='row form-group'>

            <div class='col-4 '></div>
            <div class='col-4 my-5'>
            </div>
            <div class="col-4" style="padding-right: 5rem; margin-top: 8rem;">
                <form method="POST" action="/delete">
                    <h3 class="mt-5 mb-5">Delete</h3> 
                    <select id="meal" name="meal" class="form-control mb-5">
                      <% meals.forEach(function(meal) {%>
                          <option value=<%= meal._id %>><%= meal.Meal %></option>
                          <% }) %>
                    </select>
              


          <button class="btn btn-outline-danger" type="submit">Delete</button>
          </form>
            </div>
        </div>
        <div></div>
    </div>
</section>