<div class="container">
  <div class="mt-5">
    <h1 class="text-center">StoreAPI</h1>
    <hr class="my-5 w-25">
    <p class="">
    <h4>Welcome to our API. Here is all thing ready which you need for your personal retailer stote.
      This API helps to keep your website upto Date as the description of product changes such as price quality and many
      more...
    </h4>
    </p>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/images/ease.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Simple To Use</h5>
          <p class="card-text">Just Create An API key use in your link and start using it.</p>
          <a href="/api" class="btn btn-primary">Get Started</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/images/userFriendly.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">User Friendly</h5>
          <p class="card-text">API is cretated in such a way that anyone can use it easily</p>
          <a href="/api" class="btn btn-primary">Get Started</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/images/free.png" alt="Card image cap" height="170px">
        <div class="card-body">
          <h5 class="card-title">Completely Free</h5>
          <p class="card-text">No need to Pay. This API is completly free and available 24*7</p>
          <a href="/api" class="btn btn-primary">Get Started</a>
        </div>
      </div>
    </div>
  </div>
</div>