<section id="postMenuItem">
    <style>
        body{
            background-image: url(/images/post.png);
            background-repeat: no-repeat;
        }
    </style>
    <div class='container-fluid'>
        <div class ='row form-group'>
            
                <div class='col-4 '></div>
            <div class='col-4'>
            </div>
            <div class="col-4"style="padding-right: 5rem; margin-top: 50px;">
            <form method="Post" action="/updateMenu">
                <h3 class="mb-4">Post Data</h3>
                Type:<br>
                <input type="text" name="type" class="form-control"><br>
                Meal:<br>
                <input type="text" name="meal" class="form-control"><br>
                Discount:<br>
                <input type="text" name="discount" class="form-control"><br>
                Price:<br>
                <input type="text" name="price" class="form-control"><br>
                Rating:<br>
                <input type="text" name="rating" class="form-control"><br>

                <button class="btn btn-info" type="submit">Post</button>
            </form>
            </div>
        </div>
        
        
    </div>
</section>