<section id="delMenuItem">
    <div class='container-fluid'>
        <div class ='row form-group'>
            
                <div class='col-4 '></div>
            <div class='col-4 my-5'>
                <form method="POST" action="/updateMenu">
                
                Meal:<br>
                <input type="text" name="meal" class="form-control"><br>
                
                select Type:<br>
                <input type="text" name="valueOf" class="form-control"><br>

                Enter Value:<br>
                <input type="text" name="value" class="form-control"><br>


                <button class="btn btn-info" type="submit">Update</button>
            </form>
            </div>
            <div class="col-4"></div>
            
        </div>
        
        <div></div>
    </div>
</section>